# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints
notebooks/

# PyTorch & Checkpoints
*.pt
*.pth
checkpoints/*
!checkpoints/
!checkpoints/cascDP.pt

# Data & Logs & Artifacts
*.log
*.json
*.fasta
*.tsv
*.h5
/data/
results/
plots/
artifacts/
runs/

# VS Code / OS
.vscode/
.DS_Store

# Unneeded scripts and files
docs/diagrams/
/scripts/analysis/
/scripts/visualisation/
/scripts/rewrite_drawio.py

# Binary export artifacts
*.pdf
*.png

# Configs: only specific files are tracked, ignore the rest
configs/
